<div class="container">
  <button class="btn btn-info btn-lg btn-block" type="{{ config.CONSTANTS.WEB_BOUTON }}" data-toggle="collapse" data-target="#{{ config.CONSTANTS.WEB_RECHERCHER }}" aria-expanded="false" aria-controls="collapseExample">
    {{ texte_bouton }}
  </button>
  <br>
  <div class="collapse card card-body" id="{{ config.CONSTANTS.WEB_RECHERCHER }}">
    <form action="{% if active == config.CONSTANTS.APP_ACCUEIL %}/{{ config.CONSTANTS.APP_ACCUEIL }}/{% endif %}{{ config.CONSTANTS.APP_RECHERCHE }}" method="{{ config.CONSTANTS.WEB_POST }}">
      <div class="row">
        <h2> Entrez nom <strong>OU</strong> prénom pour rechercher un adhérent </h2>
        <div class="col col-6">
          <input type="text" name="{{ config.CONSTANTS.NOM }}" class="form-control" placeholder="Nom ou Prénom">
        </div>
        <div class="col col-3">
          <button type="submit" name="{{ config.CONSTANTS.WEB_BOUTON }}" value="{{ config.CONSTANTS.WEB_RECHERCHER }}" class="btn btn-primary">Envoyer</button>
        </div>
        <br>
      </div>
    </form>
  </div>
</div>
