{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="fullscreen {{ category }}">
  <div class="alert" role="alert">
    {% set messageList = message.split("\n") %}
    {{ messageList[0] }}
  </div>
  {% if 1 < messageList | length %}
  <div class="alert">
    {{ messageList[1] }}
  </div>
  {% endif %}
</div>
<script type="text/javascript">
  console.log("STARTING FADING OUT ALERT");
  setTimeout(hide_flash_message, 3000);
</script>
{% endfor %}
{% endif %}
{% endwith %}
