<div class="container">
  <h2> Historique d'entrée: {{ cherche }} </h2>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Heure</th>
        <th scope="col">Prenom</th>
        <th scope="col">Nom</th>
        <th scope="col">Fin de cotisation</th>
      </tr>
    </thead>
    <tbody>
    {% for item in entrees | reverse() %}
  	<tr class="{{ item[config.CONSTANTS.COULEUR] }}">
      <td>{{ item[config.CONSTANTS.DATE] | filtre_date }}</td>
      <td>{{ item[config.CONSTANTS.HEURE] }}</td>
      <td>{{ item[config.CONSTANTS.PRENOM] }}</td>
      <td>{{ item[config.CONSTANTS.NOM] }}</td>
      <td>{{ item[config.CONSTANTS.DATE_FIN] | filtre_date }}</td>
  	</tr>
    {% endfor %}
    </tbody>
  </table>
</div>
