<div class="container">
	{% if contenu %}
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">Prenom</th>
				<th scope="col">Nom</th>
				<th scope="col">Numero de badge</th>
				<th scope="col">Bouton</th>
			</tr>
		</thead>
		<tbody>
			{% for ligne in contenu | reverse() %}
			<tr>
				<td>{{ ligne[config.CONSTANTS.PRENOM] }}</td>
				<td>{{ ligne[config.CONSTANTS.NOM] }}</td>
				{% if active == config.CONSTANTS.APP_ACCUEIL %}
				<td>{{ ligne[config.CONSTANTS.RFID] }}</td>
				<td><a class="btn btn-primary" value="simuler" href="{{ ligne["uri"] }}" role="button">Accès adhérents</a></td>
				{% else %}
				{% if ligne[config.CONSTANTS.RFID] %}
				<td>{{ ligne[config.CONSTANTS.RFID] }}</td>
				{% else %}
				<td>{{ session[config.CONSTANTS.RFID_NON_ATTRIBUE] }}</td>
				{% endif %}
				<td>
					<a class="btn btn-primary" name="bouton" value="ajouter" href="/{{ config.CONSTANTS.APP_ADMIN }}{{ ligne["uri"] }}" role="button">Associer</a>
					<!-- <a class="btn btn-success" name="bouton" value="entree" href="/{{ config.CONSTANTS.APP_ACCUEIL }}{{ ligne["uri"] }}" role="button">Voir les entrées</a> -->
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
</div>
